# Godot 4+ specific ignores
.godot/
/android/
b2/IGI-Game-Jam-2025.png
b2/IGI-Game-Jam-2025.pck
b2/IGI-Game-Jam-2025.js
b2/IGI-Game-Jam-2025.icon.png.import
b2/IGI-Game-Jam-2025.icon.png
b2/IGI-Game-Jam-2025.audio.worklet.js
b2/IGI-Game-Jam-2025.audio.position.worklet.js
b2/IGI-Game-Jam-2025.apple-touch-icon.png.import
b2/IGI-Game-Jam-2025.apple-touch-icon.png
b2/Archive.zip
Archive/IGI-Game-Jam-2025.wasm
Archive/IGI-Game-Jam-2025.png.import
Archive/IGI-Game-Jam-2025.png
Archive/IGI-Game-Jam-2025.pck
Archive/IGI-Game-Jam-2025.js
Archive/IGI-Game-Jam-2025.icon.png.import
Archive/IGI-Game-Jam-2025.icon.png
Archive/IGI-Game-Jam-2025.html
Archive/IGI-Game-Jam-2025.audio.worklet.js
Archive/IGI-Game-Jam-2025.audio.position.worklet.js
Archive/IGI-Game-Jam-2025.apple-touch-icon.png.import
Archive/IGI-Game-Jam-2025.apple-touch-icon.png
Archive.zip
